<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!--
    Formatting is handled by the fmt-maven-plugin.

    Restrict checkstyle usage to code quality verifications instead.
    -->
    <module name="TreeWalker">
        <!-- <module name="UnusedImports"/>
        <module name="FinalParameters"/> -->
    </module>
</module>
